$primary: #303d56;
$background: #EDF7F6;
$nav-color: #a4bfba;
$gallery-color_hover: #fee1b5;

$logo-font: 'Sofia', cursive;
$nav-font: 'Open Sans', sans-serif;
$drinks-manu-font: 'Paytone One', sans-serif;